<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>webapp1.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStatsServlet</servlet-name>
        <servlet-class>webapp1.ViewStatsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeAquizServlet</servlet-name>
        <servlet-class>webapp1.TakeAquizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitAquizServlet</servlet-name>
        <servlet-class>webapp1.SubmitAquizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogInServlet</servlet-name>
        <servlet-class>webapp1.LogInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>webapp1.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStatsServlet</servlet-name>
        <url-pattern>/ViewStatsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeAquizServlet</servlet-name>
        <url-pattern>/TakeAquizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitAquizServlet</servlet-name>
        <url-pattern>/SubmitAquizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInServlet</servlet-name>
        <url-pattern>/LogInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
